:root{
    --Dark-Brown: #2D2424;
    --Brown: #5C3D2E;
    --Orange: #B85C38;
    --Light-brown: #E0C097;
}

navbar{
    width: 100%;
    display: flex;
    justify-content:center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

navbar ul{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 35px;
    padding: 0 30px;
    border-radius: 10px;
}
navbar ul li{
    margin: 10px;
}

navbar ul li a{
    color: var(--Light-brown);
    text-decoration: inherit;
}

navbar ul a:hover{
    color: var(--Orange);
    border-bottom: 1px solid var(--Orange);
    cursor: pointer;
}